.right-side {
  background-image: url('../../assets/background-1.png');
  background-size: cover;
  background-position: center;
}

.login-button {
  background-color: #78c871;
  color: white;
  cursor: pointer;
}
